How to decode certificate extension value?

Assuming you're talking about X.509 certificates:
It depends on the extension, as different extensions have different value types. Take a look at: [RFC 5280 § 4.2](https://www.rfc-editor.org/rfc/rfc5280#section-4.2).
It is worth noting that the following extensions, have already been decoded and if present can be accessed as: `certObj.attributes.extensions`: `keyUsage`, `basicConstraints`, `extKeyUsage`, `nsCertType`, `subjectAltName`, `issuerAltName`, `subjectKeyIdentifier`. Non-decoded extensions are also stored in the same array.