Make PKCS#7 keyEncryptionAlgorithm parameter optional

RFC 5652 - Cryptographic Message Syntax (CMS) section 12.1 defines keyEncryptionAlgorithm ::= algorithmIdentifier to be imported from RFC 5280 Section 4.1.1.2 showing parameter should be an optional field.

https://tools.ietf.org/html/rfc5652#section-12.1
https://tools.ietf.org/html/rfc5280#section-4.1.1.2

Indeed when I try to use `forge.pkcs7.messageFromAsn1(myPKCS7Data)` with no parameter given to the keyEncryptionAlgorithm I get the following error:

```
Error: Cannot read PKCS#7 RecipientInfo. ASN.1 object is not an PKCS#7 RecipientInfo.
    at _recipientFromAsn1 (/redacted/node_modules/node-forge/lib/pkcs7.js:828:17)
    at _recipientsFromAsn1 (/redacted/node_modules/node-forge/lib/pkcs7.js:890:14)
    at Object.fromAsn1 (/redacted/node_modules/node-forge/lib/pkcs7.js:604:24)
    at Object.p7.messageFromAsn1 (/redacted/node_modules/node-forge/lib/pkcs7.js:118:7)
    at pkiOperation (/redacted/redacted.js:62:32)
    at Object.<anonymous> (/redacted/redacted.js:69:1)
    at Module._compile (internal/modules/cjs/loader.js:1185:30)
    at Object.Module._extensions..js (internal/modules/cjs/loader.js:1205:10)
    at Module.load (internal/modules/cjs/loader.js:1034:32)
    at Function.Module._load (internal/modules/cjs/loader.js:923:14) {
  errors: [
    '[RecipientInfo.keyEncryptionAlgorithm] Tag class "0", type "16" expected value length "2", got "1"',
    '[RecipientInfo] Tag class "0", type "16" expected value length "4", got "4"'
  ]
}
```
I will submit a pull request momentarily with a fix. Thanks to @NuSkooler for figuring this out and fixing the issue.